<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub OTP Verification</title>
</head>
<body style="color: black;">
    <div>
        <img src="https://firebasestorage.googleapis.com/v0/b/hirein5.appspot.com/o/Group%20(1).png?alt=media&token=c4590405-1567-49d9-8539-eb21f809d889" alt="">
        <h2 style="color: black;">OTP Verification</h2>
        <p style="color: black; font-weight: 600;">Your OTP Password reset is: </p>
        <span style="font-size: 25px; border: 3px solid gray; font-weight: 600; padding: 7px 30px; margin: 20px 0; display: inline-block;">{{otp}}</span>
        <p style="color: black;">If you didn't initiate this process, you can safely ignore this email.</p>
    </div>
</body>
</html>

